<header>
<div class = "hero-text-box">
  <h1> The Animal Shelter</h1>
  <a class = "btn btn-full" href = "/animals">Sheltered Friends</a>
  <a class = "btn btn-full" href = "/animals/new">New Friends</a>
</div>
</header>
