<!DOCTYPE html>
<html>
  <head link rel = "stylesheet" href="home.css">
    <meta charset="utf-8">
    <title>Animal Shelter</title>
  </head>
  <body>
    <h1>Animal Shelter Tracker</h1>
  </body>
</html>
